* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  background: green;
  color: white;
  height: 100%;
  left: 0;
  padding-left: 10px;
  position: fixed;
  width: 15%;
  z-index: 500;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.menu ul li {
  padding-bottom: 15px;
}

.menu ul li i  {
  padding-right: 6px;
}

.menu ul a  {
  color: white;
  text-decoration: none;
}

.content {
  left: 15%;
  position: relative;
}

.games-list, .add-game-form  {
  margin-left: 20px;
  max-width: 75%;
}

.add-game-form input {
  margin: 10px 0;
}

.add-game-form input[type=text] {
  border-bottom-color: lightblue;
  border-bottom-style: solid;
  border-width: 0 0 2px;
  padding-bottom: 6px;
  width: 25%;
}

.add-game-form input[type=text]:focus {
  background: #eee;
}

.data-name, .add-game-form form {
    padding: 15px 0;
}

.data-name p {
  margin-top: 0;
}

.add-game-form h1, .games-list h1 {
  border-bottom: 2px solid black;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
}

.games-list .data-name:not(:first-child) {
  border-top: 1px solid #ccc;
}

.games-list .data-name:last-child {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.finished {
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  position: relative;
  top: 2px;
  width: 15px;
}

.finished-f {
  background-color: red;
}

.finished-t {
  background-color: green;
}
